/* estilos generales */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Saira", sans-serif;
  font-size: 16px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../assets/images/background.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
}